exportPattern("^[[:alpha:]]+")
importFrom("stats","aggregate", "as.formula", "contrasts","model.matrix", "update","lm", "binom.test", "pchisq", "qchisq")
importFrom("lmtest","gqtest")
importFrom("car","linearHypothesis")
importFrom("graphics", "abline", "legend")
importFrom("grDevices", "dev.new")
importFrom("ggplot2","ggplot","geom_sf","aes_string","ggtitle","scale_fill_brewer")
importFrom("ggspatial", "annotation_scale","annotation_north_arrow","north_arrow_fancy_orienteering")
importFrom("grid", "unit")